<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="./static/style.css">
    <title>Tic-Tac-Toe: Home</title>
</head>

<body>
    <center>
        <h1>
            <b>Tic-Tac-Toe</b>
        </h1>
        <p>
            by Cheng-Hsi (Ian) Yang<br>
            <i>Global Innovation Exchange, University of Washington</i>
        </p>
        <form>
            <label><b>[1] for Single Player Mode, [2] for Two Player Mode.</b><br>
                <input mode="mode"/><button type="submit">Play!</button>
            </label>
        </form> 
    </center>
</body>

</html>