<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="./static/style.css">
    <title>Tic-Tac-Toe: Game</title>
</head>

{% block body %}
    <center>
        <h1>
            <b>Tic-Tac-Toe</b>
        </h1>
        <table class="board">
            <tr>
                <th class="odd">{{ board[0][0] }}</th>
                <th class="even">{{ board[0][1] }}</th>
                <th class="odd">{{ board[0][2] }}</th>
            </tr>
            <tr>
                <th class="even">{{ board[1][0] }}</th>
                <th class="odd">{{ board[1][1] }}</th>
                <th class="even">{{ board[1][2] }}</th>
            </tr>
            <tr>
                <th class="odd">{{ board[2][0] }}</th>
                <th class="even">{{ board[2][1] }}</th>
                <th class="odd">{{ board[2][2] }}</th>
            </tr>
        </table>
        <br>
        <form action="/play" method="POST">
            <label><b>Turn for Player {{ player }}! Please choose a block of your desire. </b></label>
            <input type="number" name="loc" min="1" max="9"/>
            <button type="submit">Go!</button>
        </form>
    </center>
{% endblock %}

</html>