<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="./static/style.css">
    <title>Tic-Tac-Toe: Game</title>
</head>

{% block body %}
    <center>
        <h1>
            <b>Tic-Tac-Toe</b>
        </h1>
        <table class="board">
            <tr>
                <th class="odd">{{ board[0] }}</th>
                <th class="even">{{ board[1] }}</th>
                <th class="odd">{{ board[2] }}</th>
            </tr>
            <tr>
                <th class="even">{{ board[3] }}</th>
                <th class="odd">{{ board[4] }}</th>
                <th class="even">{{ board[5] }}</th>
            </tr>
            <tr>
                <th class="odd">{{ board[6] }}</th>
                <th class="even">{{ board[7] }}</th>
                <th class="odd">{{ board[8] }}</th>
            </tr>
        </table>
        <br>
        <form action="/play" method="POST">
            <label><b>Turn for Player {{ player }}! Please choose a block of your desire.</b><br>
                <input mode="loc"/><button type="submit">Go!</button>
            </label>
        </form>
    </center>
{% endblock %}

</html>