<!doctype html>
<html>

<head>
    <title>Tic-Tac-Toe: Stats</title>
</head>

<body>
    <center>
        <h1>
            <b>Tic-Tac-Toe</b>
        </h1>
        1. How many games were played against the computer? And how many between human players? (<i>left</i>)<br>
        2. How many games does player X and O won, respectively? (<i>middle</i>)<br>
        3. How many games ended in draw compared to the total games played? (<i>right</i>)<br>
        <img src="./static/img/stat_1.png" width="444"/><img src="./static/img/stat_2.png" width="444"/><img src="./static/img/stat_3.png" width="444"/><br>
        </center>
</body>

</html>